body { 
font-family: "Roboto", sans-serif;
color: #434455;
background-color: #FFFFFF;
}

a { text-decoration: none;}

ul { list-style: none;
margin-top: 0;
margin-bottom: 0;
padding-left: 0;}

h1, h2, h3, p {
margin-top: 0;
margin-bottom: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
button {
    cursor: pointer;
}

address {
    font-style: normal;
}

.container {
    max-width: 320px;
    padding-right: 16px;
    padding-left: 16px;
    margin: 0 auto;
}
@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}

/*-------header---------*/

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5; 
    display: block;
}

.header-logo-color {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}

.header-list,
.header-contacts {
    display: none;
}

.menu-open-btn {
    margin-top: 16px;
    margin-bottom: 16px;
    width: 24px;
    height: 24px;
    border: none;
    padding: 0;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-menu {
    fill: #2F2F37;

}
@media screen and (min-width: 768px) {

    .header-navigation {
        display: flex;
        align-items: center;
    }

    .header-list {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    .header-logo {
        margin-right: 120px;
    }

    .header-contacts {
        display: block;
    }

    .header-contacts-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .header-contacts-link {
        font-weight: 400;
        font-size: 12px;
        line-height: 117%;
        letter-spacing: 0.04em;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .header-link {
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #2e2f42;
        padding-top: 24px;
        padding-bottom: 24px;  
        position: relative;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .header-link-active {
        color: #404bbf;
    }

    .header-link-active::after {
        content: '';
        width: 100%;
        height: 4px;
        bottom: -1px;
        left: 0;
        border-radius: 2px;
        background: #404bbf;
        display: block;
        position: absolute;
    }

    .header-item {
        padding-top: 24px;
        padding-bottom: 24px;
    }

    .header-link:hover,
    .header-link:focus {
        color: #404bbf;
    }

    .header-contacts-link:hover,
    .header-contacts-link:focus
       {color: #404bbf;}

    .menu-open-btn {
        display: none;
    }
}

@media screen and (min-width: 1158px) {

    .header-logo {
        margin-right: 76px;
    }

    .header-contacts-list {
        flex-direction: row;
        align-items: center;
        gap: 40px;
    }

    .header-contacts-link {
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
    
    }
}

/*-----menu-btn---*/

.menu-mob {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
            visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-mob.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.menu-mob-container {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.menu-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 100%;
    background-color: transparent;
    border: 1px solid #e7e9fc;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-nav {
    margin-bottom: auto;
}

.menu-link {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);       
}

.menu-link:hover,
.menu-link:focus {
    color: #404bbf;
}

.menu-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.menu-contacts-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #434455;
}

.menu-contacts-link:hover,
.menu-contacts-link:focus {
    color: #4d5ae5;
}
.menu-contacts-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.menu-soc-list {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 48px;
}

.menu-soc-item {
    width: 40px;
    height: 40px;
}

.menu-soc-link {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4d5ae5;
}

.menu-soc-icon {
    fill: #f4f4fd;
}
/*
.menu-contacts-item:not(:last-child) {
    margin-bottom: 24px;}

*/
@media screen and (min-width: 768px) {
    .menu-mob {
        display: none;
    }
}

/*-----------title----------*/

.title-part {
    background: #2e2f42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)), url(../images/title-bg-mob.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    padding-top: 72px;
    padding-bottom: 72px;
    min-width: 320px;
}

@media screen and (min-resolution: 2dppx),
 (min-resolution: 192dpi),
 (-webkit-min-device-pixel-ratio: 2) {
 
    .title-part {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)), url(../images/title-bg-mob-2x.jpg);
    }
}

.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 216px;
    margin: 0 auto;
    margin-bottom: 72px;
}

.title-btn {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4D5AE5;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    padding: 16px 32px;
    display: block;
    margin: 0 auto;  
    min-width: 169px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.title-btn:hover,
.title-btn:focus { 
    background-color: #404BBF; 
}

@media screen and (min-width: 768px) {

    .title-part {
        max-width: 768px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)), url(../images/title-bg-tab.jpg);
        padding-top: 112px;
        padding-bottom: 112px;
    }

    @media screen and (min-resolution: 2dppx),
    (min-resolution: 192dpi),
    (-webkit-min-device-pixel-ratio: 2) {
        .title-part {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)), url(../images/title-bg-tab-2x.jpg);
        }
    }

    .title {
        font-size: 56px;
        line-height: 107%;
        max-width: 496px;
        margin-bottom: 36px;
    }
}    

@media screen and (min-width: 1158px) {

    .title-part {
        max-width: 1440px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)), url(../images/title-bg.jpg);
        padding-top: 188px;
        padding-bottom: 188px;
    }

    @media screen and (min-resolution: 2dppx),
    (min-resolution: 192dpi),
    (-webkit-min-device-pixel-ratio: 2) {
        .title-part {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)), url(../images/title-bg-2x.jpg);
        }
    }

    .title {
        margin-bottom: 48px;
    }
}
/*---------qualities------*/

.qualities-part {
    padding-top: 96px;
    padding-bottom: 96px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.qualities-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
}

.qualities-icon {
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    background: #f4f4fd;
    align-items: center;
    justify-content: center;
    height: 112px;
    width: 100%;
    margin-bottom: 8px;
    display: none;
}

.icon {
    display: block;
    margin: 0 auto;
    margin-top: 24px;
    margin-bottom: 24px;
}

.third-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: center; 
}
.qualities-subtitle {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
}    

.text {
     font-weight: 400;
     font-size: 16px;
     line-height: 150%;
     letter-spacing: 0.02em;
     color: #434455;
}

.qualities-text {
     font-weight: 500;
}

@media screen and (min-width: 768px) {

    .qualities-list {
        column-gap: 24px;
        row-gap: 72px;
    }

    .qualities-item {
        flex-basis: calc((100% - 24px) / 2);
    }
}

@media screen and (min-width: 1158px) {

    .qualities-part {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .qualities-list {
        gap: 24px;
    }

    .qualities-item {
        flex-basis: calc((100% - 24px * 3) / 4);
    }

    .qualities-icon {
        display: flex;
    }

    .qualities-subtitle {
        text-align: left;
        font-weight: 500;
        font-size: 20px;
        line-height: 120%;
    }

    .text {
        font-weight: 400;
    }

    .qualities-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 112px;
        width: 100%;
        margin-bottom: 8px;
    }

    .icon {
        display: block;
        margin: 0 auto;
        margin-top: 24px;
        margin-bottom: 24px;
    }
}

/*--------team---------*/

.team-part {
    background-color: #F4F4FD;
    padding-top: 96px;
    padding-bottom: 96px;
}

.team-part>.container {
    max-width: 296px;
}

.subtitle {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
}

.team-item {
    background-color: #FFFFFF;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-discription {
   padding-top: 32px;
   padding-bottom: 32px;
}

.team-soc-list {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.team-soc-item {
    width: 40px;
    height: 40px;
}

.team-soc-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.team-soc-link:hover,
.team-soc-link:focus { 
    background-color: #404BBF; 
}

.team-soc-icon { 
    fill: #f4f4fd;
}

.team-member {
    text-align: center;
    margin-bottom: 8px;
}

.team-text {
    text-align: center;
    margin-bottom: 8px;
}

@media screen and (min-width: 768px) {

    .team-part>.container {
        max-width: 584px;
    }

    .team-list {
        column-gap: 24px;
        row-gap: 64px;
    }

    .team-item {
        width: calc((100% - 24px) / 2);
    }
}

@media screen and (min-width: 1158px) {

    .container,
    .team-part>.container {
        max-width: 1158px;
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }

    .team-part {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .team-list {
        gap: 24px;
    }

    .team-item {
        background-color: #FFFFFF;
        border-radius: 0 0 4px 4px;
        box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
        width: calc((100% - 3 * 24px) / 4);
    }

}
/*-----------portfolio---------*/

.portfolio-part {
    padding-top: 96px;
    padding-bottom: 96px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
}

.portfolio-discription {
   border-bottom: 1px solid #e7e9fc;
   border-left: 1px solid #e7e9fc;
   border-right: 1px solid #e7e9fc;
   padding: 32px 16px; 
}

.portfolio-item {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-item:hover .portfolio-cover-text {
    transform: translateY(0%);
}

.text-cover-wrapper {
   position: relative;
   overflow: hidden;
}

.portfolio-cover-text {
    position: absolute;
    background-color: #4d5ae5;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-products {
    text-align: left;
    text-transform: capitalize;
}

@media screen and (min-width: 768px) {

    .portfolio-list {
        column-gap: 24px;
        row-gap: 72px;
    }

    .portfolio-item {
        width: calc((100% - 24px) / 2);
    }
}

@media screen and (min-width: 1158px) {

    .portfolio-part {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .portfolio-list {
        column-gap: 24px;
        row-gap: 48px;
    }

    .portfolio-item {
        width: calc((100% - 2 * 24px) / 3);
    }
}

/*-----------footer--------*/

.footer { 
    background: #2e2f42;
    padding-top: 96px;
    padding-bottom: 96px;
}
.footer-header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
   /* display: inline-block;*/
}

.footer-logo-color {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
    }

.footer-text {
    max-width: 288px;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #f4f4fd; 
    margin-top: 16px;
    text-align: left;     
}

.footer-soc-list {
    display: flex;
    gap: 16px;
}
.footer-soc-text {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
    justify-content: center;
    text-align: center;
   
}

.footer-soc-link:hover,
.footer-soc-link:focus {
    background-color: #31D0AA;
}

.footer-input {
    border: 1px solid #fff;
    border-radius: 4px;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #ffffff;
    width: 288px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    opacity: 0.3;
    padding-left: 16px;
    padding-right: 16px;
}

.footer-input::placeholder {
    font-size: 12px;
    line-height: 200%;
    letter-spacing: 0.04em;
    color: #fff;
}

.footer-subscribe-btn { 
border-radius: 4px;
background-color: #4d5ae5;
border: none;
padding: 8px 24px;
min-width: 165px;
height: 40px; 
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.04em;
text-align: center;
color: #fff;
cursor: pointer;
display: flex;
align-items: center;
justify-content: center;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscribe-btn:hover,
.footer-subscribe-btn:focus {
    background-color: #404BBF;
}

.icon-subscribe-btn {
    fill: white;
    width: 24px;
    height: 24px;
    margin-left: 16px;
}

.footer-form {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
}

@media screen and (min-width: 768px) {


    .footer {
        padding-left: 108px;
    }

    .footer-logo {
        margin-right: 24px;
    }

    .footer-text {
        max-width: 264px;
    }

    .footer-soc {
        margin-right: 80px;
    }

    .footer-form {
        gap: 24px;
    }

    .footer-input {
        width: 264px;
    }

    .footer-container {
        display: flex;
        flex-wrap: wrap;
        text-align: left;
        row-gap: 72px;
        justify-content: left;
    }
}

@media screen and (min-width: 768px) {

    .footer {
        padding-left: 108px;
    }

    .footer-logo {
        margin-right: 24px;
    }

    .footer-text {
        max-width: 264px;
    }

    .footer-soc {
        margin-right: 80px;
    }

    .footer-form {
        gap: 24px;
    }

    .footer-input {
        width: 264px;
    }

    .footer-container {
        display: flex;
        flex-wrap: wrap;
        text-align: left;
        row-gap: 72px;
        justify-content: left;
    }
}

@media screen and (min-width: 1158px) {



    .footer {
        padding-top: 100px;
        padding-bottom: 100px;
        padding-left: 15px;
    }

    .footer-logo {
        margin-right: 120px;
    }

    .footer-text {
        max-width: 264px;
    }

    .footer-soc {
        margin-right: 80px;
    }

    .footer-container {
        display: flex;
        flex-wrap: nowrap;
        align-items: baseline;
        column-gap: 0;
    }

    .footer-input {
        width: 264px;
    }

    .footer-form {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        gap: 24px;
    }
}

/*----------modal-----------*/

.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    position: absolute;
    width: 288px;
    min-height: 623px;
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background: #fcfcfc;
    padding: 72px 16px 24px 16px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.modal-close-btn {
    stroke-width: 1px;
    stroke: rgba(0, 0, 0, 0.1);
    width: 24px;
    height: 24px;
    border-radius: 100%;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    display: flex;
    margin-left: auto;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 24px;
    right: 24px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-close-btn {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    background-color: #404bbf;
    border: none;
}

.modal-close-btn:hover .icon-close-btn {
    fill: #ffffff; }

.modal-close-btn:focus .icon-close-btn {
    fill: #ffffff;
}

.modal-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px; 
}

.modal-input {
    width: 100%;
    border: 1px solid rgba(46, 47, 66, 0.4);
    background-color: transparent;
    border-radius: 4px;
    height: 40px;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:hover,
.modal-input:focus {
    border-color: #4d5ae5;
}

.modal-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block; 
    margin-bottom: 4px;
}

.modal-part {
    margin-bottom: 8px;
}

.input-wrapper {
    position: relative;
}

.modal-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .modal-icon {
    fill: #4d5ae5;
}
.comment-part {
    margin-bottom: 16px
}
    
.modal-textarea {
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    resize: none;
    width: 100%;
    height: 120px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:focus {
    border-color: #4D5AE5;
}

.modal-textarea::placeholder {
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

.checkbox-part {
    margin-bottom: 24px;
}

.modal-check-text {
    height: 16px;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: flex;
    align-items: center;

}

.modal-check-item {
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    margin-right: 8px;
    display:inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-check:checked+.modal-check-item {
    border: none;
    background-color: #404bbf;
    fill: #f4f4fd;
}

.policy-color {
    line-height: 133%;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
}
.send-btn {
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    border: none;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.send-btn:hover,
.send-btn:focus {
    background-color: #404BBF;
}
 


@media screen and (min-width: 768px) {
    
    .modal {
        width: 408px;
        min-height: 584px;
        padding: 72px 24px 24px 24px;
    } 
}
